.checkbox {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.wrap {
  position: relative;
  display: flex;
  flex-direction: column;

  gap: 20px;
  padding: 50px;
  width: 400px;
  min-height: 200px;
  color: black;
}

.status {
  position: relative;
  display: flex;
  gap: 5px;
  align-items: center;
}

.big_loader_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 45px;
  width: 45px;
}

.small_loader_wrap {
  position: absolute;
  height: 25px;
  width: 25px;
  top: 50%;
  left: 20%;
  transform: translate(0, -50%);
}
